div{
    background: tomato;
    color: white;
    box-sizing: border-box;
}

div h3{
    padding: 20px;
}
p{
    padding: 20px;
}
body{
    position: relative;
}

img{
    width: 200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}